h3 {
    font-size:25px io !important;
}

.btn-success:hover {
    background-color:firebrick;

}
 
canvas {
 animation-name:example;
 animation-duration: 15s;
 animation-iteration-count: infinite;
} 

@keyframes example {
    from{box-shadow: 1px 1px 38px cyan;}
    to{box-shadow: 1px 1px 38px gold;}
}